@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
:root {
  --color-black: #000;
  --color-dark-gray: #333;
  --color-red: #d93f3f;
  --color-white: #fff;
}

.header__pokedex {
  background-color: var(--color-white);
  color: var(--color-dark-gray);
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.btn__section {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.btn__prev,
.btn__next,
.btn__top {
  width: 150px;
  height: 40px;
  background-color: var(--color-white);
  border: none;
  border-radius: 10px;
  color: var(--color-dark-gray);
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  padding: 10px;
  transition: 300ms transform ease;
  margin: 20px;
  box-shadow: 8px 12px 25px -15px rgba(0, 0, 0, 0.75);
  transition: transform 0.3s ease-in-out;
}

.btn__next:hover,
.btn__prev:hover,
.btn__top:hover {
  background-color: var(--color-dark-gray);
  color: var(--color-red);
  cursor: pointer;
  transform: scale(1.1);
  animation: color-change 0.5s infinite alternate;
}
